include LICENSE
include README.md

include tsconfig.json
include package.json
include webpack.config.js

# Examples
graft examples

# Javascript files
graft bqscales/labextension
graft bqscales/nbextension
graft src

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
